@charset "UTF-8";

section#sec1 {
    width: 100%;
    height: 100vh;
}
#title_typing {
    font-weight: 200;
    font-size: 18vmin;
    letter-spacing: -.4rem;
    line-height: 19vmin;
    animation: title_ani 1s ease 0s 1 normal forwards;
    z-index: 5s;

}

.main_img {
    /*position: fixed;*/

    /*background-repeat: no-repeat;*/
    background-size: cover;

    width: 100%;
    height: 100%;
    z-index: -10;
}
.main_img video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center top;
    display: block;
    opacity: .3;
    /*filter: brightness(0.5);*/
    z-index: -10;
}


section#sec1 p {
    font-weight: 200;
    font-size: 2.3vmin;
}









section#modal {
    /*opacity: 0;*/
    /*visibility: hidden;*/
    width: 80%;
    height: 80%;
    background: #fff;
    box-shadow: 0 0 75px rgba(0, 0, 0, 0.3);
    /*border-radius: 1.5em;*/
    z-index: 2;

    position: fixed;
    top: 10%;
    left: 10%;
    transform: translate(-50%, -50%);

    animation: modalAniOut .5s ease 0s 1 normal forwards;
}
section#modal.active {
    /*opacity: 1;*/
    visibility: visible;
    animation: modalAni .5s ease 0s 1 normal forwards;
}
article.modal_content {
    /*border: solid 1px red;*/
    width: 95%;
    height: 90%;
    margin: 0 auto;
    vertical-align: middle;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
article.modal_content p {
    /*border: solid 1px red;*/
    /*height: 100%;*/
    color: lightgray;
    font-size: 2.5vmin;
    font-weight: 100;
    margin-top: 1.5%;
}

.modal_container {
    width: 100%;
    height: 94%;
    /*border: solid 1px blue;*/
    display: flex;
    flex-flow: column wrap;
}

.modalCon {
    /*border: solid 1px green;*/
    /*flex: 1 1 80px;*/
}
.modal_img {
    /*border: solid 1px red;*/
    width: 50%;
    height: 100%;
    /*background-image: url("../sources/profile.jpg");*/
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.modal_title {
    width: 48.5%;
    height: 20%;
    font-size: 5.5vmin;
    font-weight: 900;
    border-bottom: solid .5px rgba(0, 0, 0, .5);
    margin: 0 0 1rem 1rem;
}
.modal_sub {
    width: 48.5%;
    height: 70%;
    font-size: 2.5vmin;
    color: gray;
    font-weight: 200;
    /*line-height: 1.25;*/
    word-break: keep-all;
    margin: 1rem 0 0 1rem;
}



.modal_content h1 {
    font-family: 'SUIT', sans-serif;
    font-weight: 900;
    font-size: 35px;

    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.close {
    border: none;
    /*font-family: "Elice DX Neolli", sans-serif;*/
    font-family: 'SUIT', sans-serif;
    background: #1f1f1f;
    color: #fff;
    font-size: 1.5vmin;
    font-weight: 100;
    padding: 1vmin 2vmin;

    position: absolute;
    bottom: 0;
    right: 0;
}
.close:hover {
    /*font-weight: 600;*/
    background: #B45F54;
}
.close:active {
    opacity: .5;
}



#dark_bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 검정색 */
    z-index: 1; /* 다른 요소들 위에 위치하도록 설정 */
}
#dark_bg.active {
    display: block;
}






/*SECTION 2*/
section#sec2 {
    /*border: solid 1px red;*/
    margin-top: 20vmin;
    width: 100%;
    /*height: 100vh*/
}
section#sec2 video {
    width: 100%;
    /*height: 100%;*/
    text-align: center;
}
.sec_title {
    font-size: 8vmin;
    font-weight: 100;
}
.sec_title_R {
    float: right;
    font-size: 2.5vmin;
    font-weight: 300;
}



/*SECTOR 3*/
section#sec3 {
    margin-top: 20vmin;
    width: 100%;
}
section#sec3 #img_container {
    display: flex;
    /*flex-direction: row;*/
    /*flex-wrap: wrap;*/
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;


    width: 100%;
    height: 100%;
}
.imgs {
    /*display: flex;*/
    /*border: solid 1px blue;*/
    width: 55vmin;
    height: 55vmin;
    margin-bottom: 8vmin;
    overflow: hidden;
    /*text-align: center;*/
}
.imgs img {
    /*border: solid 1px green;*/
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지가 container를 꽉 채우도록 설정 */
    object-position: center; /* 이미지가 중앙에 위치하도록 설정 */
}
.imgs video {
    /*border: solid 1px green;*/
    width: 100%;
    height: 100%;
    /*vertical-align: middle;*/
    object-fit: cover; /* 이미지가 container를 꽉 채우도록 설정 */
    object-position: center; /* 이미지가 중앙에 위치하도록 설정 */
}
.modal_img video {
    /*border: solid 1px green;*/
    width: 100%;
    /*height: 100%;*/
    /*vertical-align: middle;*/
    object-fit: cover; /* 이미지가 container를 꽉 채우도록 설정 */
    object-position: center; /* 이미지가 중앙에 위치하도록 설정 */
    position: relative;
    top: 25%;
}
.text {
    /*border: solid 1px red;*/
    width: 55vmin;
    height: 55vmin;
    position: absolute;
    color: white;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    align-content: center;
    text-align: center;
    font-weight: 900;
    font-size: 4vmin;
    word-break: keep-all;
    opacity: 0;
    z-index: 1;
}

.imgs:hover .text {
    opacity: 1;
    animation: imageHover .3s ease 0s 1 normal forwards;
}
.imgs:hover img, .imgs:hover video {
    filter: brightness(0.35);
    transition: ease .3s;
}













